body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar-brand {
    font-size: 24pt;
    padding-left: 20px;
}

#welcome {
    padding-top: 30px;
}

.browse-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn {
    margin: 10px;
}